@import url(https://fonts.googleapis.com/css?family=Hind);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./bg.jpg) no-repeat bottom right fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Hind', sans-serif;
    position: relative;
}

.container{
    width: 600px;
    height: 350px;
    background: #eee;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    padding: 50px 0 0 0;
    border-radius: 10px;
    border: 3px solid rgba(248, 45, 45, 0.808);
}

h2{
    text-transform: uppercase;
    font-size: 3.4rem;
    font-weight: normal;
    letter-spacing: 2px;
    color: #555;
}

.player{
    height: 125px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4{
    width: 100%;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: normal;
    text-decoration: underline;
    color: rgba(248, 45, 45, 0.808);
}

audio{
    display: none;
    visibility: none;
}

.controlBtn{
    position: absolute;
    width: 230px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: rgb(241, 234, 234);
    padding: 15px 0px;
    border-radius: 60px;
    box-shadow: inset 11px 7px 15px 5px #fff, inset -11px -11px 20px 0px #0000003f, 9px 8px 20px rgb(0 0 0 / 40%);
}

.fa-solid, .fa-regular {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 36px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.75);
    margin: 0 12px;
    border: 2px solid rgba(0, 0, 0, 0.75);
    text-align: center;
    cursor: pointer;
}

.active{
    color: rgba(248, 45, 45, 0.808);
    border-color: rgba(248, 45, 45, 0.808);
}
